# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment directory
venv/
ENV/

# Flask instance folder
instance/

# Flask application configuration
*.env

# IDE/Editor settings
.vscode/
.idea/

# Operating system-specific files
.DS_Store         # macOS
Thumbs.db         # Windows

# Logs
*.log

# Database files
*.sqlite3

# PyCharm project files
*.iml

# Test results
coverage/

# Other potentially sensitive or unwanted files
*.bak
